@font-face {
	font-family: "Futura";
	src: url("../assets/fonts/FuturaStd-Medium.woff") format('woff');
}
@font-face {
	font-family: "Futura";
	font-style: italic;
	src: url("../assets/fonts/FuturaStd-MediumOblique.woff") format('woff');
}
@font-face {
	font-family: "FuturaLight";
	src: url("../assets/fonts/FuturaStd-Light.woff") format('woff');
}
@font-face {
	font-family: "FuturaLight";
	font-style: italic;
	src: url("../assets/fonts/FuturaStd-LightOblique.woff") format('woff');
}
@font-face {
	font-family: "Nunito";
	font-style: normal;
	src: url("../assets/fonts/Nunito-Regular.ttf");
}
@font-face {
	font-family: "Nunito";
	font-style: bold;
	src: url("../assets/fonts/Nunito-Bold.ttf");
}
@font-face {
	font-family: "Nunito";
	font-style: italic;
	src: url("../assets/fonts/Nunito-Italic.ttf");
}
