.bevel() {
	@scale:2px;
	box-shadow: inset -@scale -@scale @scale rgba(255, 255, 255, 0.1), inset @scale @scale @scale rgba(0, 0, 0, .3);
}

.emboss() {
	@scale:2px;
	box-shadow: -@scale -@scale @scale rgba(255, 255, 255, .1), @scale @scale @scale rgba(0, 0, 0, .3);
}

.center() {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.triggerActionForm() {
	.row {
		@padding: .5em;
		padding: @padding;
		color: var(--color-light);
		border-radius: var(--border-radius);
		background-color: var(--color-light-fader);
	}
	
	.item {
		margin-bottom: .25em;
	}

	.info {
		overflow: hidden;
		padding: .5em 1em;
		background-color: var(--color-primary);
		border-radius: .5em;
		margin-bottom: .5em;
		font-size: .8em;
		img {
			height: 1em;
			margin-right: .25em;
			vertical-align: middle;
		}
		.label {
			display: inline;
		}
		&.warn>.label {
			color: var(--mainColor_warn);
		}
	}
}

.cssStructure() {
	li {
		list-style-type: disc;
		list-style-position: inside;
		margin-bottom: .25em;
		&.sublist {
			list-style-type: none;
		}
		ul {
			margin-top: 0;
			display: inline;
			list-style-type: none;
			li {
				margin-left: 1em;
			}
		}
	}
}