.center() {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.chatMessage() {
	color: #d1d1d1;
	margin: .5em 0;
	font-size: var(--messageSize);
	font-family: var(--font-inter);
	line-height: 1.25em;
	padding: .25em;

	&:hover {
		background-color: rgba(255, 255, 255, .2);
	}

	&>.icon, &>.head>.icon {
		width: 1.25em;
		height: 1.25em;
		margin-right: 5px;
		vertical-align: middle;
		align-self: flex-start;
	}
	
	&>.time, &>.infos>.time {
		.chatMessageTime();
	}

	.time + *{
		margin-left: 3em;
	}
	
	:deep( .emote ) {
		// width: 2em;
		height: 1.5em;
		vertical-align: middle;
		object-fit: contain;
	}
	
	.userlink {
		font-weight: bold;
		color: @mainColor_warn;
		&:hover {
			background-color: @mainColor_dark;
		}
	}
}

.chatMessageTime() {
	color: fade(#ffffff, 75%);
	font-size: .8em;
	display: inline-block;
	font-variant-numeric: tabular-nums;
	width: 3em;
	position: absolute;
	text-align: right;
	align-self: flex-start;
}

.chatMessageHighlight(){
	.chatMessage();
	background-color: rgba(255, 255, 255, .15);
	border-radius: 5px;
	margin: 5px 0;
	padding: 5px;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.modal() {
	&>.dimmer {
		backdrop-filter: blur(1px);
		background-color: rgba(0,0,0,.5);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 1;
	}

	&>.holder {
		.block();
		// left: 50%;
		// top: 50%;
		// transform: translate(-50%, -50%);
		top: 0;
		left: 0;
		transform: unset;
		position: absolute;
		margin: auto;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		font-size: clamp(.7em, 1.5vw, .9em);

		&>.head {
			z-index: 1;
			padding: 1em;
			padding-bottom: 0;
			display: flex;
			flex-direction: row;
			&>.title {
				flex-grow: 1;
				font-size: 1.5em;
				text-align: center;
				padding-left: 1em;
			}
			&>.close, &>.icon {
				width: 1em;
				height: 1em;
				max-width: 1em;
				max-height: 1em;
				padding: 0;
				border-radius: .5em;
				background-color: transparent;
				:deep(.icon) {
					max-height: 1em;
				}
			}
		}

		&>.content {
			flex-grow: 1;
			overflow-y: auto;
		}
	}

	// @media only screen and (max-width: 600px) {
	// 	&>.holder {
	// 		font-size: .7em;
	// 	}
	// }
}

.tabMenu() {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 1em;
	gap:1px;

	.button {
		background-color: @mainColor_normal;
		border-radius: 0;
		&:not(.selected) {
			background-color: fade(@mainColor_normal, 50%);
		}

		&:hover {
			background-color: fade(@mainColor_normal, 70%);
		}

		&:first-child {
			border-top-left-radius: .5em;
			border-bottom-left-radius: .5em;
			transform-origin: right center;
		}

		&:last-child {
			border-top-right-radius: .5em;
			border-bottom-right-radius: .5em;
			transform-origin: left center;
		}
	}
}

.block() {
	width: 500px;
	color: @mainColor_normal;
	font-size: .9em;
	background-color: #eee;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 16px 0px, rgba(0, 0, 0, 0.4) 0px 0px 4px 0px;
	box-sizing: border-box;
	border-radius: 10px;
	overflow: hidden;
	
	&>.head {
		padding: 1em;
		padding-bottom: 0;
		background-color: #eee;
		align-items: center;
		text-align: center;
		font-family: var(--font-nunito);
		font-size: 1.25em;
		color: @mainColor_normal;
	}

	&>.content {
		padding: 1em;
	}
	
	// @media only screen and (max-width: 500px) {
	// 	width: 90%;
	// }
}

.window {
	padding: .5em;
	background-color: @mainColor_dark;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
	border-radius: .5em;
	display: flex;
	flex-direction: column;
	transform-origin: bottom left;
	max-height: 100%;
	overflow-y: auto;
}

.clearButton {
	height: 1em;
	padding: 0;
	border-radius: 5px;
	background: none;
	:deep(.icon) {
		height: 1em;
		width: 1.25em;
		margin-right: 0;
		min-width: auto;
		object-fit: contain;
		vertical-align: middle;
	}
	:deep(.label) {
		font-weight: normal;
	}
	.icon + * {
		:deep(.label) {
			margin-left: .5em;
		}
	}
	&:hover {
		background-color: fade(@mainColor_light, 20%) !important;
	}
	&:disabled {
		background: none;
	}
}

.parameterContent() {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 0;
	
	&>.icon {
		height: 4em;
		display: block;
		margin: auto;
	}

	&>.head {
		margin-top: 1em;
		text-align: center;
		&.small, &>.small {
			font-size: .8em;
			.btExample {
				height: 1.25em;
				padding: .25em;
				border-radius: .25em;
				background-color: @mainColor_alert;
				vertical-align: middle;
			}
		}
		&>.small {
			margin-top: .5em;
		}
	}

	&>.enableBt {
		width: min-content;
		margin: auto;
		margin-top: 1em;
		border: 1px solid @mainColor_normal;
		border-radius: 1em;
		padding: .5em 1em !important;
		background-color: fade(@mainColor_normal_extralight, 30%);
		:deep(label) {
			white-space: nowrap;
		}
	}

	section {
		border-radius: .5em;
		background-color: fade(@mainColor_normal_extralight, 30%);
		padding: .5em;
		margin: 1em auto 1em auto;
			
		.warn {
			overflow: hidden;
			padding: .5em;
			padding-left: calc(1em + 10px);
			background-color: @mainColor_light;
			border-radius: .5em;
			margin-bottom: .5em;
			img {
				height: 1em;
				margin-right: .5em;
				vertical-align: middle;
			}
			.label {
				display: inline;
				color: @mainColor_warn;
			}
		}
		
		.splitter {
			margin: .25em 0 .25em 0;
		}
	}

	:deep(mark) {
		font-weight: bold;
		padding: .15em .5em;
		border-radius: .5em;
		font-size: .9em;
		background: fade(@mainColor_normal, 15%);
	}
}

.gameStateWindow() {
	color: @mainColor_light;

	&>.title {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: @mainColor_light;
		width: calc(100% - 1em - 10px);
		padding-bottom: .5em;
		word-break: break-word;
		text-align: center;
		img {
			width: 1em;
			margin-right: .25em;
		}
		.highlight {
			font-size: .8em;
			color: @windowStateColor;
		}
	}
	
	.highlight:not(.button) {
		background: @mainColor_light;
		padding: .2em .5em;
		border-radius: .5em;
	}

	.progress {
		color: @windowStateColor;
		margin-bottom: 1em;
	}

	.item {
		margin: auto;
		margin-top: 1em;

		&.postChat {
			max-width: 300px;
			font-size: .8em;
		}
	}

	.actions {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}

.triggerActionForm() {
	.row {
		border-radius: .5em;
		background-color: fade(@mainColor_normal_extralight, 30%);
		padding: .5em;
	}
	
	.item {
		margin-bottom: .25em;
	}

	.info {
		overflow: hidden;
		padding: .5em 1em;
		background-color: @mainColor_light;
		border-radius: .5em;
		margin-bottom: .5em;
		font-size: .8em;
		img {
			height: 1em;
			margin-right: .25em;
			vertical-align: middle;
		}
		.label {
			display: inline;
		}
		&.warn>.label {
			color: @mainColor_warn;
		}
	}
}

.cssStructure() {
	li {
		list-style-type: disc;
		list-style-position: inside;
		margin-bottom: .25em;
		&.sublist {
			list-style-type: none;
		}
		ul {
			margin-top: 0;
			display: inline;
			list-style-type: none;
			li {
				margin-left: 1em;
			}
		}
	}
}