.bevel() {
	@scale:2px;
	box-shadow: inset -@scale -@scale @scale rgba(255, 255, 255, 0.1), inset @scale @scale @scale rgba(0, 0, 0, .3);
}

.emboss() {
	@scale:2px;
	box-shadow: -@scale -@scale @scale rgba(255, 255, 255, .1), @scale @scale @scale rgba(0, 0, 0, .3);
}

.center() {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
