.card-header {
	display: flex;
	flex-direction: row;
	background-color: var(--color-dark-light);
	border-radius: var(--border-radius);
	padding: .5em;
	
	& > .icon {
		height: 2em;
		margin-top: -.5em;
		margin-left: -.5em;
		margin-bottom: -.5em;
		border-radius: 50%;
	}
	& > .title {
		align-self: center;
		flex-grow: 1;
		text-align: center;
		overflow-wrap: break-word;
		overflow: hidden;
		font-weight: bold;
		padding: 0 .5em
	}
}


.card-item {
	@padding: .5em;
	overflow: hidden;
	padding: @padding;
	color: var(--color-light);
	border-radius: var(--border-radius);
	background-color: var(--color-light-fader);

	& > .header {
		display: flex;
		flex-direction: row;
		background-color: var(--color-light-fader);
		transition: all .2s;
		margin: -@padding;
		margin-bottom: @padding;
		gap: .5em;
		padding: .5em;
		
		& > .icon {
			height: 2em;
			margin-top: -.5em;
			margin-left: -.5em;
			margin-bottom: -.5em;
			border-top-right-radius: 50%;
			border-bottom-right-radius: 50%;
			border-left: none;
			background-color: var(--color-dark-fader);
		}
		& > .title {
			align-self: center;
			flex-grow: 1;
			text-align: center;
			color: var(--color-light);
			overflow-wrap: break-word;
			overflow: hidden;
			line-height: 1.3em;
			font-weight: bold;
		}
	}
	
	&.primary {
		background-color: var(--color-primary);
		& > .header {
			background-color: var(--color-primary-dark);
		}
		a {
			color: var(--color-light);
			text-decoration: underline;
		}
	}
	
	&.secondary {
		background-color: var(--color-secondary);
		& > .header {
			background-color: var(--color-secondary-dark);
		}
		a {
			color: var(--color-light);
			text-decoration: underline;
		}
	}
	
	&.alert {
		background-color: var(--color-alert);
		& > .header {
			background-color: var(--color-alert-dark);
		}
		a {
			color: var(--color-light);
			text-decoration: underline;
		}
	}
}