/**
* Represents the style for all windows displayed at the bottom
* of a column like the current state of a poll, prediction, hype train, ...
*/
.gameStateWindow {
	color: var(--color-light);
	background-color: var(--color-primary);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	gap: .5em;
	max-height: 50vh;
	overflow: auto;

	.head {
		@paddingRight: 1.25em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: .5em;
		width: 100%;
		position: sticky;
		top: 0;
		background-color: var(--color-primary);
		transition: all .1s ease;
		padding: .25em 0;
		z-index: 1;
		padding-right: @paddingRight;

		.title,h1 {
			gap: .25em;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			word-break: break-word;
			text-align: center;
			flex-wrap: wrap;
			filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.5));
			img, .icon {
				max-width: 1em;
				height: 1em;
				flex-shrink: 0;
			}
			.highlight {
				font-size: .8em;
				color: var(--color-secondary);
			}
			mark {
				font-size: .6em;
				margin-left: .25em;
				font-weight: normal;
				.icon {
					height: 1em;
					margin-right: .5em;
					vertical-align: bottom;
				}
			}
		}

		.progressbar  {
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 100%;
		}
	
		&.is-stuck {
			box-shadow: 0 2px 2px rgba(0,0,0,0.25);
			font-size: .9em;
		}
	}

	.body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: .5em;
		padding: .5em;
	}

	.highlight:not(.button) {
		background: var(--color-secondary);
		padding: .2em .5em;
		border-radius: .5em;
	}

	.actions {
		gap: .5em;
		row-gap: .5em;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	*::-webkit-scrollbar-thumb {
		cursor: pointer;
		border-radius: 20px;
		background-color: rgba(255, 255, 255, .5);
	}

}

/* experimental enhancement */
// @supports (container-type: scroll-state) {
// 	.title { container-type: scroll-state; }

// 	@container scroll-state(stuck: top) {
// 		.title {
// 			box-shadow: 0 2px 2px rgba(0,0,0,0.25);
// 			padding: .25em;
// 		}
// 	}
// }