@import "_includes.less";
@import "fonts.less";
@import "reset.less";
@import "form.less";

@media (prefers-color-scheme: dark) {
/* Dark theme styles go here */
}

@media (prefers-color-scheme: light) {
/* Light theme styles go here */
}

:root {
	--font-inter: "Inter";
	--font-nunito: "Nunito";
	--font-roboto: "Roboto";
	--font-azeret: "Azeret";

	@mainColor_light: #ffffff;
	@mainColor_normal: #9147ff;
	@mainColor_dark: #18181b;
	@mainColor_highlight: #005be2;
	@mainColor_warn: #d6a608;
	@mainColor_alert: #bb3c3c;

	--mainColor_light: @mainColor_light;
	--mainColor_normal: @mainColor_normal;
	--mainColor_dark: @mainColor_dark;
	--mainColor_highlight: @mainColor_highlight;
	--mainColor_warn: @mainColor_warn;
	--mainColor_alert: @mainColor_alert;
	--windowStateColor: darken(@mainColor_highlight, 20%);
	
	--mainColor_light_light: lighten(@mainColor_light, 20%);
	--mainColor_normal_light: lighten(@mainColor_normal, 5%);
	--mainColor_dark_light: lighten(@mainColor_dark, 10%);
	--mainColor_highlight_light: lighten(@mainColor_highlight, 15%);
	--mainColor_warn_light: lighten(@mainColor_warn, 10%);
	--mainColor_alert_light: lighten(@mainColor_alert, 10%);
	
	--mainColor_light_extralight: lighten(@mainColor_light, 35%);
	--mainColor_normal_extralight: lighten(@mainColor_normal, 20%);
	--mainColor_dark_extralight: lighten(@mainColor_dark, 20%);
	--mainColor_highlight_extralight: lighten(@mainColor_highlight, 20%);
	--mainColor_warn_extralight: lighten(@mainColor_warn, 40%);
	--mainColor_alert_extralight: lighten(@mainColor_alert, 40%);
	
	--border_radius:.5em;
	
	
	--highlight_subs: fade(#528bff, 30%);
	--highlight_vips: fade(#db00b3, 30%);
	--highlight_mods: fade(#00a865, 30%);
	--highlight_partners: fade(#ffee52, 30%);
	--highlight_mention: fade(#ff0000, 30%);
}

body, html {
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: var(--font-inter), Helvetica, Arial, sans-serif;
	color: var(--mainColor_normal);
	min-width: 100%;
	min-height: var(--vh);
	min-height: -webkit-fill-available;
	overflow: hidden;
}

pre {
	font-family: var(--font-inter), Helvetica, Arial, sans-serif;
}

*:focus:not(:focus-visible) {
	outline: none;
}

a {
	// text-decoration: none;
	color: var(--mainColor_alert);
	cursor: pointer;
	&:hover {
		color: var(--mainColor_alert_light);
	}
}

strong {
	font-weight: bold;
}

h1 {
	font-size: 1.25em;
}

.tippy-box[data-theme~='twitchat'] {
    background-color: var(--mainColor_highlight);
	box-shadow: 3px 3px 3px rgba(0,0,0,.35);
	&[data-placement^='top']  > .tippy-arrow::before {
		border-top-color: var(--mainColor_highlight);
	}
	&[data-placement^='left']  > .tippy-arrow::before {
		border-left-color: var(--mainColor_highlight);
	}
	&[data-placement^='bottom']  > .tippy-arrow::before {
		border-bottom-color: var(--mainColor_highlight);
	}
	&[data-placement^='right']  > .tippy-arrow::before {
		border-right-color: var(--mainColor_highlight);
	}
}

#dz-root {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw !important;
	height: 100vh !important;
	background: rgba(255, 0, 0, .25);
	z-index: 5;
	opacity: .8;
	iframe {
		cursor: pointer;
		width: 100% !important;
		height: 100% !important;
	}

	&.hide {
		top: -100px;
		left: -100px;
		width: 10px !important;
		height: 10px !important;
	}
}

#mx-menu-default-container {
	.mx-menu-ghost-host{
		.mx-context-menu {
			box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px 2px;
			.mx-context-menu-items {
				cursor: pointer;
				.mx-context-menu-item.alert.open,
				.mx-context-menu-item.alert:hover {
					background: var(--mainColor_alert);
				}
				.mx-context-menu-item-wrapper {
					.mx-context-menu-item {
						.label {
							max-width: 180px;
							white-space: normal;
						}
					}
					.mx-context-menu-item.disabled {
						.mx-icon-placeholder {
							opacity: .35;
						}
					}
					.mx-context-menu-item.header {
						color:var(--mainColor_light);
						background: rgba(255,255,255,.2);
						background: var(--mainColor_highlight);
						margin: -10px 0 0 0;
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
						padding: .5em;
						margin-bottom: .25em;
						cursor: default;
						.mx-item-row:nth-child(1) {
							flex-grow: 1;
							.label {
								flex-grow: 1;
								font-size: 1.1em;
								font-weight: bold;
								text-align: center;
								padding-right: 0;
							}
						}
					}
				}
			}
		}
	}
}

.vs__dropdown-option {
	&.vs__dropdown-option--highlight {
		background-color: var(--mainColor_normal_light);
		.listIcon {
			filter: brightness(10);
		}
	}
	&>.category {
		font-weight: bold;
		font-size: 1.2em;
		color:var(--mainColor_normal);
	}
	&>.subItem {
		padding-left: 1em;
	}
	.listIcon {
		height: 1.5em;
		max-width: 1.5em;
		padding: .25em;
		margin-right: .25em;
		vertical-align: middle;
		border-radius: .25em;
	}
	.labelSmall {
		font-size: .8em;
		font-style: italic;
		margin-left: .5em;
	}
}

*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	border-radius:20px;
	background-color: rgb(31, 31, 35);
	border: 1px solid rgba(255, 255, 255, 0.25);
//   box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 1px 1px;
}