@import "_includes.less";
@import "fonts.less";
@import "reset.less";
@import "form.less";
@import "sidePanel.less";
@import "gameState.less";
@import "card.less";
@import "modal.less";
@import "parameterContent.less";
@import "blured-background-window.less";
@import "chatMessage.less";
@import "triggerAction.less";
@import "cssStructure.less";

:root {
	--font-inter: "Inter";
	--font-nunito: "Nunito";
	--font-roboto: "Roboto";
	--font-azeret: "Azeret";

	--color-light: @color-light;
	--color-dark: @color-dark;
	--color-primary: @color-primary;
	--color-secondary: @color-secondary;
	--color-warn: @color-warn;
	--color-alert: @color-alert;
	// --color-select: @color-select;
	--color-chatMessage: @color-chatMessage;
	
	--color-light-transparent: fade(@color-light, 0%);
	--color-dark-transparent: fade(@color-dark, 0%);
	--color-primary-transparent: fade(@color-primary, 0%);
	--color-secondary-transparent: fade(@color-secondary, 0%);
	--color-warn-transparent: fade(@color-warn, 0%);
	--color-alert-transparent: fade(@color-alert, 0%);
	// --color-select-transparent: fade(@color-select, 0%);
	
	--color-light-fade: fade(@color-light, 30%);
	--color-dark-fade: fade(@color-dark, 80%);
	--color-primary-fade: fade(@color-primary, 70%);
	--color-secondary-fade: fade(@color-secondary, 70%);
	--color-warn-fade: fade(@color-warn, 70%);
	--color-alert-fade: fade(@color-alert, 70%);
	// --color-select-fade: fade(@color-select, 70%);
	
	--color-light-fader: fade(@color-light, 10%);
	--color-dark-fader: fade(@color-dark, 40%);
	--color-primary-fader: fade(@color-primary, 40%);
	--color-secondary-fader: fade(@color-secondary, 40%);
	--color-warn-fader: fade(@color-warn, 40%);
	--color-alert-fader: fade(@color-alert, 40%);
	// --color-select-fader: fade(@color-select, 40%);
	
	--color-light-fadest: fade(@color-light, 5%);
	--color-dark-fadest: fade(@color-dark, 10%);
	--color-primary-fadest: fade(@color-primary, 10%);
	--color-secondary-fadest: fade(@color-secondary, 10%);
	--color-warn-fadest: fade(@color-warn, 10%);
	--color-alert-fadest: fade(@color-alert, 20%);
	// --color-select-fader: fade(@color-select, 20%);
	
	--color-light-light: lighten(@color-light, 10%);
	--color-dark-light: lighten(@color-dark, 10%);
	--color-primary-light: lighten(@color-primary, 8%);
	--color-secondary-light: lighten(@color-secondary, 13%);
	--color-warn-light: lighten(@color-warn, 10%);
	--color-alert-light: lighten(@color-alert, 10%);
	// --color-select-light: lighten(@color-select, 10%);
	
	--color-light-extralight: lighten(@color-light, 30%);
	--color-dark-extralight: lighten(@color-dark, 30%);
	--color-primary-extralight: saturate(lighten(@color-primary, 15%), 100%);
	--color-secondary-extralight: saturate(lighten(@color-secondary, 30%), 100%);
	--color-warn-extralight: saturate(lighten(@color-warn, 30%), 100%);
	--color-alert-extralight: saturate(lighten(@color-alert, 30%), 100%);
	// --color-select-extralight: lighten(@color-select, 20%);
	
	--color-light-dark: darken(@color-light, 10%);
	--color-dark-dark: darken(@color-dark, 10%);
	--color-primary-dark: darken(@color-primary, 15%);
	--color-secondary-dark: darken(@color-secondary, 15%);
	--color-warn-dark: darken(@color-warn, 10%);
	--color-alert-dark: darken(@color-alert, 10%);
	// --color-select-extralight: lighten(@color-select, 20%);

	--border-radius:.5rem;
	
	--highlight-suspicious: #ff8280;
	--highlight-1st: #ff75e6;
	--highlight-subs: #528bff;
	--highlight-vips: #db00b3;
	--highlight-mods: #00a865;
	--highlight-partners: #9147ff;
	--highlight-mention: #adadb8;
	--highlight-raider: #f5f500;
}

body, html {
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: var(--font-inter), Helvetica, Arial, sans-serif;
	color: var(--color-al);
	min-width: 100%;
	min-height: var(--vh);
    min-height: -moz-available;
	min-height: -webkit-fill-available;
	min-height: fill-available;
	overflow: hidden;
}

pre {
	font-family: var(--font-inter), Helvetica, Arial, sans-serif;
}

*:focus:not(:focus-visible) {
	outline: none;
}

a {
	// text-decoration: none;
	color: var(--color-secondary-light);
	cursor: pointer;
	&:hover {
		color: var(--color-secondary-extralight);
	}
}

strong {
	font-weight: bold;
}

h1 {
	font-size: 1.5em;
}

.voiceFocus {
	border: 2px solid var(--color-secondary);
}

.errorCard {
	color: var(--color-light);
	padding: 5px 10px;
	border-radius: 5px;
	text-align: center;
	background-color: var(--color-alert);
}

mark {
	font-weight: bold;
	background-color: var(--color-dark-fader);
	padding: .1em .25em;
	border-radius: var(--border-radius);
}

.home-gradient-bg {
	background: linear-gradient(180deg, var(--color-primary-fader) 0%, var(--color-secondary-transparent) 100%);
	background-size: 100% 100vh;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	height: 100vh;
	position: absolute;
	top:0;
	left:0;
}

.tippy-box[data-theme~='twitchat'] {
	@color: var(--color-secondary-fade);
    background-color: @color;
	backdrop-filter: blur(5px);
	text-shadow: 1px 1px 2px black;
	box-shadow: 3px 3px 3px rgba(0,0,0,.35);
	&[data-placement^='top']  > .tippy-arrow::before {
		border-top-color: @color;
	}
	&[data-placement^='left']  > .tippy-arrow::before {
		border-left-color: @color;
	}
	&[data-placement^='bottom']  > .tippy-arrow::before {
		border-bottom-color: @color;
	}
	&[data-placement^='right']  > .tippy-arrow::before {
		border-right-color: @color;
	}
}

#dz-root {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw !important;
	height: 100vh !important;
	background: rgba(255, 0, 0, .25);
	z-index: 5;
	opacity: .8;
	iframe {
		cursor: pointer;
		width: 100% !important;
		height: 100% !important;
	}

	&.hide {
		top: -100px;
		left: -100px;
		width: 10px !important;
		height: 10px !important;
	}
}

#mx-menu-default-container {
	.mx-menu-ghost-host{
		.mx-context-menu {
			box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px 2px;
			.mx-context-menu-items {
				cursor: pointer;
				.mx-context-menu-item.alert.open,
				.mx-context-menu-item.alert:hover {
					background: var(--color-alert);
				}
				.mx-context-menu-item-wrapper {
					.mx-context-menu-item {
						.label {
							max-width: 180px;
							white-space: normal;
						}
					}
					.mx-context-menu-item.disabled {
						.mx-icon-placeholder {
							opacity: .35;
						}
					}
					.mx-context-menu-item.header {
						color:var(--color-light);
						background: rgba(255,255,255,.2);
						background: var(--color-primary);
						margin: -10px 0 0 0;
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
						padding: .5em;
						margin-bottom: .25em;
						cursor: default;
						.mx-item-row:nth-child(1) {
							flex-grow: 1;
							.label {
								flex-grow: 1;
								font-size: 1.1em;
								font-weight: bold;
								text-align: center;
								padding-right: 0;
							}
						}
					}
				}
			}
		}
	}
}

*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: transparent;
	background-color: var(--color-dark-fadest);
}

*::-webkit-scrollbar-thumb {
	border-radius:20px;
	background-color: var(--color-dark-extralight);
}

@media (prefers-color-scheme: dark) {
/* Dark theme styles go here */
}

@media (prefers-color-scheme: light) {
/* Light theme styles go here */
}