.overlayParamsSection {
	display: flex;
	flex-direction: column;
	gap: 1em;

	&>.header {
		line-height: 1.2em;
		white-space: pre-line;
		text-align: center;
		margin-bottom: .5em
	}

	&>.alert:not(.toggleblock) {
		gap: .5em;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer {
		.bevel();
		font-size: .9em;
		font-style: italic;
		line-height: 1.2em;
		text-align: center;
		background-color: var(--color-alert-fadest);
		.icon {
			height: 1em;
			margin-right: .25em;
		}
	}

	.center {
		margin: auto;
	}

	.shrink {
		margin: auto;
	}
	.cssStructure {
		margin-top: .5em;
	}
	.cssHead {
		line-height: 1.2em;
	}
	.cssCategory {
		margin-top: .5em;
		font-weight: bold;
	}

	&>section {
		display: flex;
		flex-direction: column;
		gap: .5em;
		margin: auto;
		&>.header {
			margin-bottom: 0;
		}
			
		&>.icon {
			height: 1em;
			margin-right: .5em;
		}

		.loader {
			height: 2.5em;
			margin: auto;
		}
	}
}