.overlayInstallCard {
	gap: .5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: .5em;
	border-radius: var(--border-radius);
	background-color: var(--background-color-fadest);
	.icon {
		height: 1em;
	}
	label {
		gap: .5em;
		display: flex;
		align-items: center;
	}
}