.sidePanel {
	color: var(--color-light);
	background-color: var(--color-dark-light);
	border-radius: var(--border-radius);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, .4);

	&>.head {
		z-index: 1;
		padding-bottom: 0;
		display: flex;
		flex-direction: column;
		gap: 1em;
		padding: 1em;
		border-bottom: 1px solid var(--color-dark-extralight);
		width: 100%;
		max-width: 600px;
		margin: auto;

		.description {
			font-size: .9em;
			line-height: 1.4em;
		}

		.tabmenu {
			justify-self: stretch;
		}
		.icon {
			height: 1em;
			margin-right: .5em;
		}
	}

	.info {
		line-height: 1.3em;
	}

	&>.content {
		padding: 1em;
		width: 100%;
		max-width: 600px;
		margin: auto;
		flex-grow: 1;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		gap: 1em;
		
		form {
			display: flex;
			flex-direction: column;
			gap: 1em;
		}

		.row {
			display: flex;
			flex-direction: column;
			padding: .5em;
			gap: .5em;
			border-radius: .5em;
			
			.paramitem {
				input {
					flex-basis: 200px;
					text-align: center;
				}
			}
			
			&.shrink {
				input {
					flex-basis: 80px;
				}
			}
		}

		.splitter {
			height: 1px;
			background-color: var(--color-light-fade);
			margin: .25em 10px;
		}
		
		.configs {
			width: 100%;
			&>.content {
				display: flex;
				flex-direction: column;
				align-items: stretch;
				justify-content: stretch;
				gap: 1em;
			}
		}

		.tips {
			.bevel();
			padding: .5em;
			border-radius: var(--border-radius);
			background-color: var(--color-dark-fader);
			font-size: .8em;
			line-height: 1.4em;
			img {
				height: 1em;
				margin-right: .25em;
			}
		}
	}
}