/**
 * Contains the styles about a trigger action entry form.
 * Ex: chat message, counter update, OBS control, ...
 */
.triggerActionForm {
	gap: .25em;
	display: flex;
	flex-direction: column;

	.info {
		overflow: hidden;
		padding: .5em 1em;
		color: var(--color-light);
		background-color: var(--color-primary);
		border-radius: .5em;
		font-size: .8em;
		gap: .5em;
		img, .icon {
			height: 1em;
			margin-right: .5em;
			vertical-align: text-top;
		}
		.label {
			display: inline;
		}
		&.warn, &.alert {
			background-color: var(--color-alert);
		}
		&.secondary {
			font-weight: normal;
			background-color: var(--color-secondary);
		}
		a {
			color: var(--color-light) !important;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		.button {
			display: flex;
			margin: auto;
		}
	}
}

/**
 * Contains the style about "light" trigger actions.
 * A trigger action ic considered as "light" when it only contains a label
 * and global actions (ex: delay, delete message, or spoil message).
 */
.triggerActionLight {
	margin: auto;
	width: fit-content;
	border-radius: .5em;
	background-color: var(--color-primary);
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: .5em;
	color: var(--color-light);
	overflow: hidden;
	gap: .5em;
	line-height: 1.5em;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
	position: relative;

	.icon {
		height: 1em;
		max-width: 1.5em;
	}

	.actions {
		display: flex;
		flex-direction: row;
		align-self: stretch;
		.button {
			border-radius: 0;
		}
		.placeholders {
			border-radius: 0 !important;
			flex-shrink: 0;
		}
	}

	.field {
		background: transparent;
		padding: 0;
	}

	.orderBt {
		cursor: grab;
		height: .8em;
		vertical-align: middle;
		line-height: 1em;
		user-select: none;
		&:active {
			cursor: grabbing;
		}
	}
}
